.form-error {
  position: relative;
}

.form-error__field {
  display: block;
  width: 100%;
  height: 100px;
  padding: 10px 15px;
  border-radius: 3px;
  border: 1px solid #7ab5c9;
}

.form-error__footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}