v-modal.form-error(v-if="isModalErrorOpened", @close="toggleModalError()")
  .form-error__header(slot="header" v-if="!success") Нашли ошибку?
  .form-error__header(slot="header" v-else) Ваше сообщение было успешно отправлено.

  .form-error__content(slot="body" v-if="!success")
    textarea.form-error__field(
      placeholder="Опишите ее, например, 'Неправильно указано место'",
      v-model="message"
    )
  .form-error__footer(slot="footer" v-if="!success")
    button.button.button_modal(@click="submit", :disabled="loading") Отправить
