$bg-primary-color: rgba(122, 181, 202, .45);
$bg-secondary-color: #194778;

$handle-color: #ffffff;
$handle-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.22);

.theme__toggle {
  width: 78px;
  height: 40px;
  border-radius: 20px;
  position: absolute;
  top: 10px; right: 40px;
  @media screen and (max-width: '767px') {
    top: 5px; right: 10px;
  }

  &:hover {
    cursor: pointer;
  }

  .toggle__handle {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: $handle-color;
    box-shadow: $handle-shadow;
    position: absolute;
    top: 6px;
    transition: left .5s;
  }

  &:before, &:after {
    content: "";
    position: absolute;
    width: 28px;
    height: 28px;
    top: 6px;
    opacity: 0;
    transition: opacity .4s;
  }
  &:before {
    left: 6px;
    background: url('./sun.svg') 50% no-repeat;
  }

  &:after {
    right: 6px;
    background: url('./moon.svg') 50% no-repeat;
  }
}

// Day theme
.day-theme {
  .theme__toggle {
    background: $bg-primary-color;
    &:before {
      opacity: 1
    }
    &:after {
      opacity: 0;
    }
  }

  .toggle__handle {
    left: calc(100% - 34px);
  }
}

// Night theme
.night-theme {
  .theme__toggle {
    background: $bg-secondary-color;
    &:before {
      opacity: 0;
    }
    &:after {
      opacity: 1;
    }
  }

  .toggle__handle {
    left: 6px;
  }
}
