$menu-icon-day: './menu.svg';
$menu-icon-night: './menu-dark.svg';

.sidebar__mobile_btn {
  width: 40px;
  height: 40px;
  display: none;
  cursor: pointer;

  @media screen and('max-width: 767px') {
    display: inline-block;
  }
}

.day-theme {
  .sidebar__mobile_btn {
    background: url(#{$menu-icon-day}) center center no-repeat;
  }
}

.night-theme {
  .sidebar__mobile_btn {
    background: url(#{$menu-icon-night}) center center no-repeat;
  }
}
