$geomark-day: './ic-place.svg';
$geomark-day-text: #135ba7;

$geomark-night: './ic-place-dark.svg';
$geomark-night-text: #b5d9ff;

.list-enter-active, .list-leave-active {
  transition: all 1s;
}
.list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
}

.post {
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid #444444;

  &__info {
    width: 100%;
    font-size: 12px;
    line-height: 14px;
    word-wrap: break-word;
    margin-bottom: 11px;
  }

  &__title {
    width: 100%;
    font-size: 16px;
    margin-bottom: 15px;
    color: #ececec;
  }

  &__description {
    width: 100%;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 15px;
  }

  &__author {
    width: 100%;
    font-size: 12px;
    line-height: 18px;
    position: absolute;
    bottom: 0;
    color: rgba(249, 249, 249, 0.6);;
  }
}

.post__image {
  width: 100%;
  max-width: 254px;
  height: 163px;
  position: relative;
  transition: background .5s;
  background-color: #999;
}

.post__infoVideo {
  padding: 0 20px 0 20px;
  position: relative;
}

.geomark, .pubdate {
  display: inline-block;
  vertical-align: top;
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-weight: 400;
  font-size: 12px;
}

.geomark {
  cursor: pointer;
  padding-left: 16px;
  position: relative;

  .content__window & {
    margin-top: 10px;
  }

  &:before {
    content: '';
    position: absolute;
    width: 12px;
    height: 16px;
    top: -3px;
    left: 0;
  }
}

.pubdate {
  float: right;
  color: #748290;
}

.post__tags_list {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
}

// Day theme
.day-theme {
  .geomark {
    color: $geomark-day-text;
    &:before {
      background: url(#{$geomark-day}) center center no-repeat;
    }
  }
}

// Night theme
.night-theme {
  .geomark {
    color: $geomark-night-text;
    &:before {
      background: url(#{$geomark-night}) center center no-repeat;
    }
  }
}
