.post
  .post__image(ref='myLabel', :style="{ backgroundImage: `url(${previewImage})` }")
    v-hot-label(v-if='isNew' text='Новый' :position-x='20' :position-y='153')
  .post__info
    .link(@click='getArticle(data.id)') #[span {{ data.title }}]
    .description {{ data.short_content }}
    v-spoiler(
      :class=['post__tags_list']
      :numToHide='3'
    )
      v-tag(
        :key='index'
        v-for='(tag, index) in data.tags'
        :text='tag'
        size='middle'
      )
    .geomark(@click="() => { filterByLocation(articleCity); }") {{ articleCity }}
    .pubdate(v-date-format='data.created_at') {{ data.created_at }}
