.widget__title {
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: auto;
  transform: translateX(-50%);
  padding: 5px;
  z-index: 1;

  span {
    display: block;
    position: relative;
    float: right;
    color: #135ba7;
    background: white;
    padding: 10px 15px;
    border-radius: 6px;
    z-index: 2;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(122, 181, 201, 0.46);
    border-radius: 6px;
    z-index: 1;
  }
}

.widget__logo {
  position: absolute;
  display: inline-block;
  top: 5px;
  left: 10px;
  width: 44px;
  height: 48px;
  background: url('./logo-widget.png') no-repeat center center;
  background-size: contain;
  z-index: 1;
}