.social_links {
  margin: 10px 0;

  @media (max-width: 1280px - 1px) {
    text-align: center;
  }
}

.social__button {
  display: inline-block;
  width: 48px;
  height: 48px;
  vertical-align: middle;
  text-decoration: none;
  margin: 0 5px;
  cursor: pointer;
  border: none;
}

// Day theme
.day-theme {
  .social__button {
    &.ok { background: url('./ok.svg') no-repeat center center; }
    &.vk { background: url('./vk.svg') no-repeat center center; }
    &.tw { background: url('./tw.svg') no-repeat center center; }
    &.fb { background: url('./fb.svg') no-repeat center center; }
  }
}

// Night theme
.night-theme {
  .social__button {
    &.ok { background: url('./ok-dark.svg') no-repeat center center; }
    &.vk { background: url('./vk-dark.svg') no-repeat center center; }
    &.tw { background: url('./tw-dark.svg') no-repeat center center; }
    &.fb { background: url('./fb-dark.svg') no-repeat center center; }
  }
}
