.social_links
  button.social__button.fb(@click="shareToFacebook($event)")
  button.social__button.tw(@click="shareToTwitter($event)")
  button.social__button.vk(@click="shareToVkontakte($event)")
  button.social__button.ok(@click="shareToOdnoklassniki($event)")
