.videoTime {
  position: absolute;
  top: 10px;
  right: 10px;

  &__block {
    background-color: #474b56b5;
    padding: 0 6px;
    display: inline-block;

    span {
      font-size: 10px;
      vertical-align: middle;
    }
  }
}
