.videoEvent(:class='`videoEvent__${position}`')
  .videoEvent__block.videoEvent__block_like
    span {{text}}
  .videoEvent__block.videoEvent__block_comment
    span {{text}}
  .videoEvent__block.videoEvent__block_share
    span {{text}}
