.videoEvent {
  width: 143px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 9px;

  &.videoEvent {

    &__left {
      left: 11px;
    }

    &__right {
      right: 11px;
    }
  }


  &__block {
    color: #fff;
    padding-left: 19px;
    background-repeat: no-repeat;
    background-position-x: 3px;
    background-position-y: center;
    cursor: pointer;

    span {
      font-size: 10px;
      vertical-align: middle;
      font-weight: 600;
    }

    &_like {
      width: 45px;
      background-color: #474b56b5;
      background-image: url('./like.png');
    }

    &_comment {
      width: 45px;
      background-color: #474b56b5;
      background-image: url('./message.png');
    }

    &_share {
      width: 45px;
      background-color: #474b56b5;
      background-image: url('./share.png');
    }
  }
}
