@import '../../node_modules/normalize-css/normalize.css';

@import 'utils/mixins';

@import 'fonts/Roboto.font';
@import 'fonts/proxima-nova.font';
@import 'fonts/ps-sans-caption.font';

@import 'core/common';
@import 'core/scrollbar';
@import 'core/link';
@import 'core/title';
@import 'core/description';
@import 'core/icons';

@import 'elements/tinges.copyrights';
@import 'elements/atwinta.copyrights';
@import 'elements/count.bubble';
@import 'elements/preloader';
@import 'elements/button';
@import 'elements/emotion';
@import 'elements/tinges-sort';
@import 'elements/header';
@import 'elements/tinges-filter';

@import 'vendor/vuebar';

.cluster div {
  font-family: 'ProximaNova' !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  line-height: 3.25 !important;
  letter-spacing: -0.3px !important;
  text-align: center !important;
  color: #135ba7 !important;
}

.scrollable,.scrollable > div:first-of-type {
  height: 100%;
}
