.scrollable__area(
  id='js-geography'
  class='vb with_filter'
  v-bar='{}'
)
  .geography__wrapper
    .title.title_level_2.title_lighter(v-show='selectedCountry != 0') {{ selectedCountryName }}
    v-cities(
      v-show='selectedCountry != 0'
      :selectedCountry='selectedCountry'
      :cities='citiesByCountry'
    )
    .title.title_level_2.title_lighter(v-show='selectedCountry != 0') Ещё страны
    v-countries(:countries='filteredCountries')
