$border-primary: solid 2px #dcedfd;
$border-secondary: solid 2px #748290;

$input-text-primary-color: #748290;
$input-text-secondary-color: #8c8c8c;

$search-icon-primary-color: #135BA7;

$search-icon-secondary-color: white;

.search__bar {
  height: 50px;
  z-index: 3;
  border-radius: 25px;
  padding-left: 50px;
  position: relative;
  transition: border .5s;
  margin-top: 12px;
  margin-bottom: 5px;

  &:before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 50px;
    height: 50px;
    -webkit-mask: url('./search.svg') no-repeat center center;
    mask: url('./search.svg') no-repeat center center;
  }

  input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    font-size: 16px;
    color: $input-text-primary-color;
  }

}

// Day theme
.day-theme {
  .search__bar {
    border: $border-primary;
    &:before { background: $search-icon-primary-color; }
  }
}

// Night theme
.night-theme {
  .search__bar {
    border: $border-secondary;
    &:before { background: $search-icon-secondary-color; }

    input {
      color: $input-text-secondary-color;
    }
  }
}
