$modal-bg-day: #ffffff;
$nav-shape-bg-day: rgba(122, 181, 201, 0.46);
$nav-bg-day: #ffffff;
$nav-arrow-bg-day: rgba(122, 181, 201, 1);

$modal-bg-night: #333333;
$nav-shape-bg-night: rgba(182, 182, 182, 0.36);
$nav-bg-night: #333333;
$nav-arrow-bg-night: #ffffff;

.gmodal {
  position: relative;
  display: none;
  width: 260px;

  &.active {
    display: inline-block;
  }
}

.gmodal__image {
  width: 100%;
  height: 190px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  transition: background-image .3s;
}

.gmodal__content {
  padding: 15px;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  &.listed {

  }
}

.gmodal__inner {
  position: relative;
  min-height: 167px;
  max-height: 167px;
  overflow-y: hidden;
  margin-bottom: 15px;

  &:after {
    content: '';
    position: absolute;
    display: block;
    right: 0;
    bottom: 0;
    left: 0;
    height: 30px;
  }
}

.gmodal__tail {
  margin-left: 3px;
  width: 254px;
  height: 16px;
}

.info__close {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 5px; right: 5px;
  background: url('./info_close.svg');
  cursor: pointer;
}

.articles__nav {
  position: absolute;
  width: 84px;
  height: 44px;
  top: 160px;
  right: 15px;

  .articles__nav_shape {
    width: 42px;
    height: 44px;
    position: relative;
    overflow: hidden;

    &:after {
      content: "";
      position: absolute;
      width:44px;
      height: 44px;
      border-radius: 50%;
      top: 0;
      z-index: 1;
    }

    &:first-of-type {
      float: left;
      &:after {
        left: 0;
      }
    }

    &:last-of-type {
      float: right;
      &:after {
        right: 0;
      }
    }
  }

  .articles__nav_btn {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-top: 6px;
    position: relative;
    z-index: 2;

    &.disabled {
      pointer-events: none;
      opacity: .3;
    }

    &:after {
      content: "";
      position: absolute;
      width: 32px;
      height: 32px;
      top: 0;
      cursor: pointer;
    }

    &.article_prev {
      margin-left: 6px;
      float: left;
      &:after {
        right: 1px;
        -webkit-mask: url('./to-left.svg') no-repeat center center;
        mask: url('./to-left.svg') no-repeat center center;
      }
    }

    &.article_next {
      margin-right: 6px;
      float: right;
      &:after {
        left: 1px;
        -webkit-mask: url('./to-left.svg') no-repeat center center;
        mask: url('./to-left.svg') no-repeat center center;
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
      }
    }

  }
}

.articles__amount {
  position: absolute;
  padding: 5px 7px 5px 5px;
  top: 165px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  left: 0;

  span {
    position: relative;
    display: block;
    padding: 5px 10px;
    border-radius: 5px;
    float: right;
    z-index: 2;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 1;
  }
}

// Day theme
.day-theme {
  .gmodal__image, .gmodal__content {
    background: $modal-bg-day;
  }
  .articles__nav .articles__nav_shape:after {
    background: $nav-shape-bg-day;
  }

  .articles__nav .articles__nav_btn {
    background: $nav-bg-day;

    &:after {
      background: $nav-arrow-bg-day
    }
  }

  .articles__amount {
    span {
      background: $nav-bg-day;
    }

    &:after {
      background: $nav-shape-bg-day
    }
  }

  .gmodal__tail {
    background: url('./info_window_end.png') no-repeat center center;
    background-size: contain;
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background: url('./info_window_end@2x.png') no-repeat center center;
        background-size: contain;
    }
  }

  .gmodal__inner:after {
    background: linear-gradient(to bottom, transparent 0%, white 100%);
  }
}

// Night theme
.night-theme {
  .gmodal__image, .gmodal__content {
    background: $modal-bg-night;
  }

  .articles__nav .articles__nav_shape:after {
    background: $nav-shape-bg-night;
  }

  .articles__nav .articles__nav_btn {
    background: $nav-bg-night;

    &:after {
      background: $nav-arrow-bg-night
    }
  }

  .articles__amount {
    span {
      background: $nav-bg-night;
      color: $nav-arrow-bg-night;
    }

    &:after {
      background: $nav-shape-bg-night
    }
  }

  .gmodal__tail {
    background: url('./info_window_end_dark.png') no-repeat center center;
    background-size: contain;
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background: url('./info_window_end_dark@2x.png') no-repeat center center;
        background-size: contain;
    }
  }

  .gmodal__inner:after {
    background: linear-gradient(to bottom, transparent 0%, #333333 100%);
  }
}
