.gmodal(:class="[{'active': isActive}]")
  .articles__amount(v-if='articlesNum > 1')
    span {{calcArticleIndex}} из {{articlesNum}}
  .articles__nav(v-if='articlesNum > 1')
    .articles__nav_shape
      .articles__nav_btn.article_prev(:class=`[{'disabled': prevDisabled}]` @click='onPrev')
    .articles__nav_shape
      .articles__nav_btn.article_next(:class=`[{'disabled': nextDisabled}]` @click='onNext')
  .gmodal__image(:style="{ backgroundImage: `url(${previewImage})` }")
    .info__close(@click='onClose')
  .gmodal__content(:class=`[{'listed': articlesNum > 1 }]`)
    .gmodal__inner
      .link(@click='getArticle(data.id)')
        span {{ data.title }}
      .description {{ data.short_content }}
    //v-spoiler(
    //  :class=['post__tags_list']
    //  :numToHide='2'w
    //)
    //  v-tag(
    //    :key='index'
    //    v-for='(tag, index) in data.tags'
    //    :text='tag'
    //    size='middle'
    //  )
    .geomark {{ geoname }}
    .pubdate {{ formatedDate }}
  .gmodal__tail
