$header-primary-color: #222222;
$header-secondary-color: rgba(255, 255, 255, .9);

$footer-primary-color: #222;
$footer-secondary-color: #222;

.layout {
  width: 100%;
  height: 100%;

  header {
    position: fixed;
    width: 100%;
    transition: width .5s;
  }

  footer {
    position: fixed;
    width: 100%;
    transition: width .5s;
  }

  header {
    z-index: 4;
    top: 0; right: 0;
    padding: 5px 9px;
    background-color: $header-primary-color;
    height: 113px;
  }

  footer {
    background-color: $header-primary-color;
    z-index: 3;
    bottom: 0; right: 0;
    padding: 6px 40px;
    height: 60px;
    transition: background, .5s;
  }

  @media (max-width: '1365px') {
    footer {
      height: 40px;
    }
  }

  @media screen and (max-width: '767px') {
    header {
      width: 100%;
      padding: 5px 10px;
      height: 50px;
      background: $header-primary-color;
    }

    footer {
      display: none;
    }

    &.content-opened {
      footer {
        display: block;
        width: 100%;
        padding: 6px 20px;
        left: 0;
        right: 0;
        z-index: 1000;
      }
    }
  }
}

.sidebar-opened {
  header {
    width: 100%;
  }

  footer {
    width: calc(100% - 880px);

    @media screen and(max-width: '767px') {
      width: 100%;
    }
  }
}

// Day theme
.day-theme {
  footer {
    background: $footer-primary-color;
  }
}

// Night theme
.night-theme {
  footer {
    background: $footer-secondary-color;
  }

  @media screen and(max-width: '767px') {
    header {
      background: $header-secondary-color;
    }
  }
}
