div.layout(:class=`[theme, {'sidebar-opened': isSidebarOpened, 'content-opened': isContentWindowOpened }]`)
  v-sidebar
    div(slot='header')
      v-search(v-if='routeName === "geography"')
      v-tag-filters-list
    div(slot='content')
      transition(name='fade' mode='out-in')
        router-view
    div(slot='tools')
      v-navigation
      .atwinta__copyrights.mobile
        a(href='http://atwinta.ru' target='_blank') #[.logo]

  v-content
  header
    //- v-sidebar-mobile-btn
    .tinges__header_top
      .tinges__copyrights
        a(href='' target='_blank') #[.logo]
    .tinges__header_bottom
      .tinges-sort
        span sort by:
        v-select(
          class="tinges-sort__select"
          label="sortName"
          :options="sort"
          v-model="selectedSort"
          :searchable="false"
        )
      .tinges-filter
        .tinges-filter__select-all
          span  Emotions:
          button.tinges-filter__btn Select all

        .emotion.emotion__joy.active(data-title="joy")
          span 12
        .emotion.emotion__pride(data-title="pride")
          span 12
        .emotion.emotion__fear(data-title="fear")
          span 12
        .emotion.emotion__surprise(data-title="surprise")
          span 12
        .emotion.emotion__sadness(data-title="sadness")
          span 12
        .emotion.emotion__disgust(data-title="disgust")
          span 12
        .emotion.emotion__anger(data-title="anger")
          span 12
        .emotion.emotion__shame(data-title="shame")
          span 12
        .emotion.emotion__fun(data-title="fun")
          span 12
        .emotion.emotion__interest(data-title="interest")
          span 12
      .tinges__region
        span East New York • 192 videos

    //- v-theme-toggle
  footer
    .tinges__copyrights
      .logo
      a(href='' target='_blank').copyright__link #[span tinges.ru]

    .atwinta__copyrights
      a(href='http://atwinta.ru' target='_blank')
        .logo
        .copyright__link #[span Создание сайта]
      span &nbsp;— «Атвинта»
  v-map
  v-form-error
