$fontName: 'ProximaNova';
$fontPath: '../assets/fonts/proxima-nova/';
$fontVersion: '2.003';

@font-face {
  font-family: $fontName;
  @include fontdef($fontPath, $fontName, $fontVersion, "Regular");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: $fontName;
  @include fontdef($fontPath, $fontName, $fontVersion, "Semibold");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: $fontName;
  @include fontdef($fontPath, $fontName, $fontVersion, "Bold");
  font-weight: 700;
  font-style: normal;
}
