$fontName: 'PTSans';
$fontPath: '../assets/fonts/pt-sans-caption/';
$fontVersion: '2.004';

@font-face {
  font-family: $fontName;
  @include fontdef($fontPath, $fontName, $fontVersion, "Caption");
  font-weight: 400;
  font-style: normal;
}
