$fontName: 'Roboto';
$fontPath: '../assets/fonts/roboto';
$fontVersion: '001.000';

@font-face {
  font-family: $fontName;
  @include fontdef($fontPath, $fontName, $fontVersion, "Regular");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: $fontName;
  @include fontdef($fontPath, $fontName, $fontVersion, "Bold");
  font-weight: 500;
  font-style: normal;
}
