$letter-bubble-bg-day: './letter_bubble.svg';
$letter-bubble-text-day: #135ba7;

$letter-bubble-bg-night: './letter_bubble_dark.svg';
$letter-bubble-text-night: #b5d9ff;

$list-item-text-day: #333333;
$list-item-text-night: #ffffff;

.alphabetical__list {
  margin-top: 15px;
  display: inline-block;
  width: 100%;

  .alphabetical__item {
    margin-bottom: 24px;

    .first__letter {
      display:inline-block;
      vertical-align: top;
      width: 36px;
      height: 32px;
      text-align: center;
      font-family: 'HelveticaNeueCyr', sans-serif;
      font-size: 20px;
      font-weight: 500;
      line-height: 1.8;
      padding-right: 4px;
      margin-right: 5px;

      @media (min-width: 480px) {
        margin-right: 12px;
      }
    }
  }
}

.countries__list {
  display: inline-block;
  vertical-align: top;
  margin-top: 4px;

  .country__item {
    font-family: 'HelveticaNeueCyr', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    margin-bottom: 5px;

    &:hover {
      cursor: pointer;
    }
  }

  .country__name {
    display: inline-block;

    @media (max-width: 480px - 1px) {
      max-width: 135px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

// Day theme
.day-theme {
  .alphabetical__list .alphabetical__item .first__letter {
    color: $letter-bubble-text-day;
    background: url(#{$letter-bubble-bg-day}) 50% no-repeat;
  }

  .countries__list .country__item {
    color: $list-item-text-day;
  }
}

// Night theme
.night-theme {
  .alphabetical__list .alphabetical__item .first__letter {
    color: $letter-bubble-text-night;
    background: url(#{$letter-bubble-bg-night}) 50% no-repeat;
  }

  .countries__list .country__item {
    color: $list-item-text-night;
  }
}
