.alphabetical__list
  .alphabetical__item(
    :key='index'
    v-for='(letter, index) in countriesByFirstLetter'
  )
    .first__letter {{ index }}
    .countries__list
      .country__item(
        :key='index'
        v-for='(country, index) in letter'
        @click='changeCountryAndSetTag(country.country_geoid, country.name_ru)'
      )
        .country__name {{ country.name_ru }}
        .count__bubble {{ country.articles_count }}
