$tag-primary-bg-color: #edf5f8;
$tag-primary-text-color: #194778;

$tag-secondary-bg-color: #44566A;
$tag-secondary-text-color: #ffffff;

.tag__item {
  display: inline-block;
  position: relative;
  margin: 5px 10px 5px 0;

  .tag__text {
    display: inline-block;
    vertical-align: top;
    font-family: 'HelveticaNeueCyr';
    font-weight: 400;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    -webkit-mask: url('./label_small.svg') no-repeat center center;
    mask: url('./label_small.svg') no-repeat center center;
    -webkit-mask-size: contain;
    mask-size: contain;
  }

  &.rounded {
    .tag__text {
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }
}

.small_tag {
  padding-left: 10px;

  .tag__text {
    font-size: 11px;
    padding: 2px 8px 2px 2.6px;
  }

  &:before {
    width: 10.6px;
    height: 16px;
  }
}

.middle_tag {
  padding-left: 10px;
  vertical-align: top;
  height: 20px;

  .tag__text {
    padding: 5px 8px 3px 2.6px;
    font-size: 12px;
  }

  &:before {
    width: 12px;
    height: 20px;
  }
}

.big_tag {
  padding-left: 18px;

  .tag__text {
    font-size: 14px;
    font-family: 'ProximaNova';
    font-weight: 600;
    padding: 6.5px 8px 6.5px 2.6px;
  }

  &:before {
    width: 20.6px;
    height: 30px;
  }
}

// Day theme
.day-theme {
  .small_tag:before, .middle_tag:before {
    background: $tag-primary-bg-color;
  }

  .small_tag .tag__text, .middle_tag .tag__text {
    background: $tag-primary-bg-color;
    color: $tag-primary-text-color;
  }
  .big_tag:before {
    background: #d6ecfb;
  }
  .big_tag .tag__text {
    background: #d6ecfb;
    color: #335479;
  }
}

// Night theme
.night-theme {
  .small_tag:before, .middle_tag:before {
    background: $tag-secondary-bg-color;
  }

  .small_tag .tag__text, .middle_tag .tag__text {
    background: $tag-secondary-bg-color;
    color: $tag-secondary-text-color;
  }

  .big_tag:before {
    background: $tag-secondary-bg-color;
  }
  .big_tag .tag__text {
    background: $tag-secondary-bg-color;
    color: $tag-secondary-text-color;
  }
}
