$sidebar-size: 910px;
$toogle-size: 30px;

$sidebar-primary-color: #222222;
$sidebar-secondary-color: #F9F9F9;
$sidebar-shadow: 4px 0 20px 0 rgba(0, 0, 0, .1);

$tools-opacity: 0.85;
$tools-primary-color: rgba(255, 255, 255, $tools-opacity);
$tools-secondary-color: rgba(51, 51, 51, $tools-opacity);

$toogle-icon-primary-color: #135BA7;
$toogle-icon-secondary-color: #fff;

.sidebar,
.sidebar__content,
.sidebar__tools {
  height: 100%;
}

.sidebar {
  position: fixed;
  width: $sidebar-size;
  bottom: 0;
  height: calc(100% - 113px);
  z-index: 4;
  transform: translate3d($toogle-size - $sidebar-size, 0px, 0px);
  transition: transform .5s;

  .sidebar__content {
    padding: 0 10px;
    width: $sidebar-size - $toogle-size;
    float: left;
    box-shadow: $sidebar-shadow;
    transition: background .5s;
    position: relative;
    z-index: 6;
    background: $sidebar-primary-color;
  }

  .sidebar__header {
    background: $sidebar-primary-color;
    padding: 16px 20px;
    position: relative;
    z-index: 7;
  }

  .sidebar__tools {
    width: $toogle-size;
    float: right;
    transition: background .5s;
    position: relative;
    z-index: 5;
    background: transparent;
  }

  .sidebar__toggle {
    box-shadow: 1px 0px 9px 0px rgba(0, 0, 0, 0.5);
    background: white;
    position: absolute;
    width: 30px;
    height: 40px;
    margin: auto 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

    &:before {
      background: $toogle-icon-primary-color;
      content: "";
      position: absolute;
      width: 30px;
      height: 40px;
      top: 0; right: 0; bottom: 0; left: 0;
      margin: auto;
      -webkit-mask: url('./to-left.svg') no-repeat center center;
      mask: url('./to-left.svg') no-repeat center center;
      -moz-transform: scaleX(1);
      -o-transform: scaleX(1);
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
      filter: FlipH;
      -ms-filter: "FlipH";
    }
    cursor: pointer;

    // &:before {
    //   content: '';
    //   background-color: black;
    //   width: 10px;
    //   height: 10px;
    //   display: block;
    //   z-index: 11;
    //   position: absolute;
    //   top: 50%;
    //   left: 50%;
    // }
  }

  @media screen and (max-width: '767px') {
    width: 100%;
    transform: translate3d(-100%, 0px, 0px);
    .sidebar__content {
      width: calc(100% - 60px);
    }
  }

  @media (max-width: '767px') and (orientation: landscape) {
    .sidebar__toggle {
      top: 50%;
    }
  }
}

.scrollable__area {
  height: calc(100% - 60px);

  &.with_filter {
    height: calc(100% - 128px);
  }

  @media (max-width: '1365px') {
    height: calc(100% - 40px);

    &.with_filter {
      height: calc(100% - 88px);
    }
  }
}

.sidebar-opened {
  .sidebar {
    transform: translate3d(0, 0px, 0px);
    transition: transform .5s;
  }

  .sidebar__toggle {

    &:before {
      -webkit-mask: url('./to-left.svg') no-repeat center center;
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    }
    // filter: FlipH;
    // -ms-filter: "FlipH";
  }
}



