.sidebar
  .sidebar__content
    //- .sidebar__header
    //-   .title.title_level_1 {{ getTitle() }}
    //-   slot(name='header')
    .scrollable
      slot(name='content' class="scrollable")

  .sidebar__tools
    //- slot(name='tools')
    .sidebar__toggle(@click="toggle()")
