$link-color-day: #505050;
$link-hover-color-day: #1BBDF2;
$link-underline-color-day: #A7A7A7;
$link-hover-underline-color-day: #18a5d3;

$link-color-night: #ffffff;
$link-hover-color-night: #1BBDF2;
$link-underline-color-night: #c8ccd2;
$link-hover-underline-color-night: #18a5d3;

.atwinta__copyrights {
  display: inline-block;
  float: right;
  margin-top: 4px;

  @media (max-width: '1365px') {
    margin-top: 0;
  }

  .logo {
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 40px;
    margin-right: 10px;
    background: url('./logo-atwinta.png') no-repeat center center;
    background-size: contain;

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background: url('./logo-atwinta@2x.png') no-repeat center center;
        background-size: contain;
    }

    @media (max-width: '1365px') {
      width: 26px;
      height: 29px;
    }

    @media (max-width: '767px') {
      margin-right: 0;
    }
  }

  span {
    font-family: 'ProximaNova';
    font-size: 16px;
    font-weight: 400;

    @media (max-width: '1365px') {
      font-size: 14px;
    }

    @media (max-width: '767px') {
      display: none;
    }
  }

  .copyright__link {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    text-decoration: none;

    &:hover {
      cursor: pointer;
    }
  }

  &.mobile {
    position: absolute;
    width: 42px;
    height: 40px;
    left: 9px;
    bottom: 10px;
    .logo { margin: 0; }

    @media (max-width: '1365px') {
      width: 26px;
      height: 29px;
      left: 14px;
      bottom: 5px;
    }

    @media screen and (min-width: '767px') {
      display: none;
    }
  }
}

// Day theme
.day-theme {
  .atwinta__copyrights {
    span {
      color: $link-color-day;
    }

    .copyright__link span {
      @include multiline-underline(1px, $link-underline-color-day);
    }

    .copyright__link:hover span {
      color: $link-hover-color-day;
      @include multiline-underline(1px, $link-hover-underline-color-day);
    }
  }
}

// Night theme
.night-theme {
  .atwinta__copyrights {
    span {
      color: $link-color-night;
    }

    .copyright__link span {
      @include multiline-underline(1px, $link-underline-color-night);
    }

    .copyright__link:hover span {
      color: $link-hover-color-night;
      @include multiline-underline(1px, $link-hover-underline-color-night);
    }
  }
}
