$border-color-day: #c7ced0;
$text-color-day: #135ba7;

$border-color-night: #748290;
$text-color-night: #ffffff;

.button {
  display: inline-block;
  box-sizing: border-box;
  font-family: 'ProximaNova', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
  padding: 13px 28px;
  border-radius: 24px;
  text-decoration: none;
  margin: 10px 0;

  @media (min-width: 480px) {
    padding: 13px 48px;
  }
}

.button_modal {
  padding: 10px 15px;
  margin: 0;
}

.day-theme {
  .button {
    color: $text-color-day;
    border: 2px solid $border-color-day;
  }
}

.night-theme {
  .button {
    color: $text-color-night;
    border: 2px solid $border-color-night;
  }
}
