$bubble-bg-day: #eaf4fe;
$bubble-text-day: #135ba7;

$bubble-bg-night: #44566A;
$bubble-text-night: #b5d9ff;

.count__bubble {
  display: inline-block;
  padding: 0 4px;
  height: 18px;
  border-radius: 6px;
  font-family: 'ProximaNova', sans-serif;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  line-height: 1.2;
  margin-left: 10px;
  vertical-align: top;
}

// Day theme
.day-theme {
  .count__bubble  {
    background: $bubble-bg-day;
    color: $bubble-text-day;
  }
}

// Night theme
.night-theme {
  .count__bubble  {
    background: $bubble-bg-night;
    color: $bubble-text-night;
  }
}
