.emotion {
  border-radius: 10px;
  width: 45px;
  height: 20px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
  padding: 0 0 0 25px;
  cursor: pointer;
  position: relative;

  &.active {
    background-color: #cdcdcd;

    span {
      display: none;
    }
  }

  &:hover {

    &:after {
      text-transform: uppercase;
      background-color: inherit;
      border-radius: 10px;
      border-bottom-left-radius: 0;
      content: attr(data-title);
      font-size: 10px;
      font-weight: 500;
      left: 10px;
      padding: 5px 10px;
      position: absolute;
      top: -24px;
      z-index: 1;
    }
  }

  span {
    font-size: 8px;
    font-weight: 600;
    vertical-align: middle;
  }

  &:not(:last-child) {
    margin-right: 20px;
  }

  &__joy {
    background-color: #F4EE00;
    background-image: url('./joy.png');
    color: #17191D;

  }

  &__pride {
    background-color: #14A650;
    background-image: url('./pride.png');
  }

  &__fear {
    background-color: #676CE0;
    background-image: url('./fear.png');
  }

  &__surprise {
    background-color: #FFB129;
    background-image: url('./surprise.png');
    color: #17191D;
  }

  &__sadness {
    background-color: #00C4FF;
    background-image: url('./sadness.png');
    color: #17191D;
  }

  &__disgust {
    background-color: #AB2293;
    background-image: url('./disgust.png');
  }

  &__anger {
    background-color: #FF0000;
    background-image: url('./anger.png');
  }

  &__shame {
    background-color: #AB66EF;
    background-image: url('./shame.png');
  }

  &__fun {
    background-color: #94E100;
    background-image: url('./fun.png');
    color: #17191D;
  }

  &__interest {
    background-color: #FF187C;
    background-image: url('./interest.png');
  }
}

