.tinges__header_bottom {
  display: flex;
  justify-content: space-between;
}

.tinges__header_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333333;
  margin-bottom: 19px;
  height: 63px;
}
