$preloader-duration: 1.5s;
$preloader-steps: 60;

@keyframes playPreloader {
  100% { background-position: -15060px; }
}

.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 251px;
  height: 220px;
  transform: translate(-50%, -50%);
  background: url('preloader-full.png') left center;
  animation: playPreloader $preloader-duration steps($preloader-steps) infinite;
}
