$link-color-day: #505050;
$link-hover-color-day: #1BBDF2;
$link-underline-color-day: #A7A7A7;
$link-hover-underline-color-day: #18a5d3;

$link-color-night: #fff;
$link-hover-color-night: #1BBDF2;
$link-underline-color-night: #c8ccd2;
$link-hover-underline-color-night: #18a5d3;


.tinges__copyrights {
  display: inline-block;

  .logo {
    display: inline-block;
    vertical-align: middle;
    width: 143px;
    height: 35px;
    margin-right: 10px;
    background: url('./logo-tinges.png') no-repeat center center;
    background-size: contain;

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background: url('./logo-tinges.png') no-repeat center center;
        background-size: contain;
    }

    @media (max-width: '1365px') {
      width: 143px;
      height: 35px;
    }
  }

  .copyright__link {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    text-decoration: none;

    span {
      font-family: 'ProximaNova';
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase;

      @media (max-width: '1365px') {
        font-size: 14px;
      }
    }

    &:hover {
      cursor: pointer
    }
  }

  // &.mobile {
  //   vertical-align: top;
  //   // margin-left: calc(50% - 72px);
  //   margin-top: -2px;
  //   .logo {
  //     margin: 0;
  //     width: 46px;
  //     height: 40px;
  //     background: url('./logo-tinges.png') no-repeat center center;
  //     background-size: contain;
  //   }

  //   @media screen and (min-width: '767px') {
  //     display: none;
  //   }
  // }

}

// Day theme
.day-theme {
  .tinges__copyrights {
    .copyright__link span {
      color: $link-color-day;
      @include multiline-underline(1px, $link-underline-color-day);
    }

    .copyright__link:hover span {
      color: $link-hover-color-day;
      @include multiline-underline(1px, $link-hover-underline-color-day);
    }
  }
}

// Night theme
.night-theme {
  .tinges__copyrights {
    .copyright__link span {
      color: $link-color-night;
      @include multiline-underline(1px, $link-underline-color-night);
    }

    .copyright__link:hover span {
      color: $link-hover-color-night;
      @include multiline-underline(1px, $link-hover-underline-color-night);
    }
  }
}

