.tinges-sort {

  display: flex;
  align-items: center;
  text-transform: uppercase;

  span {
    font-size: 12px;
    line-height: 12px;
    vertical-align: middle;
  }

  &__select {
    background: transparent;
    border: 0;

    .dropdown-toggle {
      max-width: 120px;

      .clear {
        display: none;
      }

      .selected-tag {
        font-size: 12px;
        line-height: 12px;
        position: absolute;
        color: #fff;
        font-weight: 600;
        text-transform: uppercase;
        height: auto;
        padding: 0;
      }

      .form-control {
        height: auto;

        &:focus {
          height: auto;
        }
      }

      .open-indicator {
        height: auto;

        &:before {
          border-color: #00BFF4;
          border-width: 2px 2px 0 0;
          vertical-align: middle;
          width: 7px;
          height: 7px;
        }
      }
    }

  }
}
