$placeholder-primary-color: #748290;
$placeholder-secondary-color: #f0f0f0;

* {
  box-sizing: border-box;
}

html, body, #application {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: #F9F9F9;
}

.day-theme {
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $placeholder-primary-color;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $placeholder-primary-color;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: $placeholder-primary-color;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $placeholder-primary-color;
  }
}

.night-theme {
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $placeholder-secondary-color;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $placeholder-secondary-color;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: $placeholder-secondary-color;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $placeholder-secondary-color;
  }
}

*:focus {
    outline: none;
}
