$description-primary-color: #333;
$description-alt-color: #fff;

.description {
  display: inline-block;
  width: 100%;
  font-family: 'PTSans', sans-serif;
  font-size: 13px;
  line-height: 1.54;
  letter-spacing: -0.2px;

  word-wrap: break-word;
}

// Day theme
.day-theme {
  .description {
    color: $description-primary-color;
  }
}

// Night theme
.night-theme {
  .description {
    color: $description-alt-color;
  }
}
