.icon {
  width: 60px;
  height: 60px;
  background: #135BA7;

  &.playList {
    -webkit-mask: url('./last_posts.svg') no-repeat center center;
    mask: url('./last_posts.svg') no-repeat center center;
  }

  &.geography {
    -webkit-mask: url('./geography.svg') no-repeat center center;
    mask: url('./geography.svg') no-repeat center center;
  }

  &.headings {
    -webkit-mask: url('./categories.svg') no-repeat center center;
    mask: url('./categories.svg') no-repeat center center;
  }

  .day-theme {
    .icon {
      background: #135BA7;
    }
  }
}

.night-theme {
  .icon {
    background: #f0f0f0;
  }
}
