$link-color-day: #135ba7;
$link-underline-color-day: #b5d9ff;

$link-color-night: #b5d9ff;
$link-underline-color-night: #b5d9ff;

$link-margin: 5px 0;

.link {
  display: inline-block;
  width: 100%;
  text-align: left;
  text-decoration: none;
  margin: $link-margin;

  span {
    font-family: 'ProximaNova';
    font-size: 18px;
    font-weight: 600;
    line-height: 1.11;
    letter-spacing: -0.3px;
  }

  &:hover {
    cursor: pointer
  }
}

// Day theme
.day-theme {
  .link span {
    color: $link-color-day;
    @include multiline-underline(1px, $link-underline-color-day);
  }
}

// Night theme
.night-theme {
  .link span {
    color: $link-color-night;
    @include multiline-underline(1px, $link-underline-color-night);
  }
}
