$title-primary-color: #505050;
$title-primary-alt-color: #748290;
$title-secondary-color: #f0f0f0;
$title-secondary-alt-color: #748290;

.title {
  display: inline-block;
  width: 100%;
  font-family: 'ProximaNova', sans-serif;
  font-weight: 600;
  transition: color, .5s;
}

.title_level_1 {
  font-size: 24px;
}

.title_lead {
  font-size: 32px;
  letter-spacing: -0.6px;
  font-weight: 700;
}

.title_level_2 {
  font-size: 16px;
}

// Day theme
.day-theme {
  .title {
    color: $title-primary-color;
  }

  .title_lighter {
    color: $title-primary-alt-color;
  }

  .title_lead {
    color: #333;
  }
}

// Night theme
.night-theme {
  .title {
    color: $title-secondary-color;
  }

  .title_lighter {
    color: $title-secondary-alt-color;
  }
}
