$list-item-text-day: #333333;
$list-item-text-night: #ffffff;

.cities__list {
  display: inline-block;
  width: 100%;
  margin: 5px 0 30px;

  .city__item {
    font-family: 'HelveticaNeueCyr', sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 2;
    text-align: left;
    cursor: pointer;
  }
}

// Day theme
.day-theme {
  .cities__list .city__item {
    color: $list-item-text-day;
  }
}

// Night theme
.night-theme {
  .cities__list .city__item {
    color: $list-item-text-night;
  }
}
