#cities.cities__list
  transition-group(name='fade' mode='out-in')
    .city__item(
      :key='index'
      v-for='(city, index) in cities'
      @click='addCityToTagsList(city.location_geoid, city.name_ru, city.country_geoid)'
    ) {{ city.name_ru }}
      .count__bubble {{ city.articles_count }}
