#map__wrapper, #map__canvas {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.gm-style-iw {
  width: 260px !important;
  top: 80px !important;
  left: 26px !important;
  overflow: visible !important;

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 0;
    left: 0;
    height: calc(100% - 16px);
    object-fit: contain;
    opacity: 0.4;
    border-radius: 4px;
    -webkit-filter: blur(10px);
    filter: blur(10px);
    background-color: #001d3d;
  }
}

.gm-style-iw + div {
  display: none;
}

.arrow_box {
  background: red;
  width: 20px;
  height: 40px;
}
