#map__wrapper
  //- #mapid
  #map__canvas
  div(ref="modal")
    v-gmodal(
      :data="currentLocationArticle"
      :articles-num="currentLocationArticlesNum"
      :article-index="currentLocationArticleIndex"
      :page="articlesForlocation.current_page"
      :geoname="currentLocation.name_ru"
      :prev-disabled="isPrev"
      :next-disabled="isNext"
      :is-active="isInfoOpened"
      @on-close="closeInfoWindow"
      @on-next="nextArticleForLocation()"
      @on-prev="prevArticleForLocation()"
    )
  v-zoom(
    @on-plus="zoomPros"
    @on-minus="zoomMinus"
  )
