.videoEmotions {
  position: absolute;
  top: 10px;
  left: 10px;

  &__pie {
    border-radius: 50%;
    width: 6px;
    height: 6px;
    margin-right: 3px;
    display: inline-block;
    vertical-align: top;

    &_joy {
      background-color: #f4ee00;
    }

    &_pride {
      background-color: #14A650;
    }

    &_fear {
      background-color: #676CE0;
    }

    &_fun {
      background-color: #94E100;
    }
  }

  &__block {
    // padding: 0 6px;
    display: inline-block;

    span {
      font-size: 10px;
      vertical-align: middle;
    }
  }
}
