transition(name="modal")
  .modal
    .modal__cover(@click="$emit('close')")
    .modal__wrapper
      .modal__container
        .modal__header
          .title.title_level_1
            slot(name="header")
        .modal__body
          slot(name="body")
        .modal__footer
          slot(name="footer")