$content-bg-day: #ffffff;
$content-bg-night: #333333;
$content-text-night: #ffffff;
$content-link-night: #ffffff;

.content__window {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 4;
  height: 100%;
  box-shadow: 4px 0 20px 0 rgba(0, 0, 0, 0.1);
  transform: translate3d(-1080px, 0px, 0px);
  transition: transform .5s;

  @media (min-width: 768px) {
    z-index: 3;
  }

  @media (min-width: 768px) and (max-width: 1280px - 1px) {
    max-width: 584px;
  }

  @media (min-width: 1280px) and (max-width: 1600px - 1px) {
    max-width: 800px;
  }

  @media (min-width: 1600px) {
    max-width: 1080px;
  }

  .article_close {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    background: url('./close.svg') no-repeat center center;
    cursor: pointer;
  }
}

.content-opened {
  @media (max-width: 768px - 1px) {
    .content__window {
      transform: translate3d(0px, 0px, 0px);
      transition: transform .5s;
    }
  }

  @media (min-width: 768px) {
    .content__window {
      transform: translate3d(60px, 0px, 0px);
      transition: transform .5s;
    }
    &.sidebar-opened {
      .content__window {
        transform: translate3d(440px, 0px, 0px);
        transition: transform .5s;
      }
    }
  }
}

.article__header, .article__footer {
  display: inline-block;
  width: 100%;

  @media (max-width: 480px - 1px) {
    padding: 27px 30px 13px 30px;
  }

  @media (min-width: 480px) {
    padding: 27px 58px 13px 58px;
  }
}

@media (min-width: 1280px) {
  .article__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (max-width: 480px - 1px) {
  .article__header {
    padding-top: 40px;
  }
}

.pubdate_article {
  font-size: 14px;
  display: inline-block;
  width: 100%;
  margin-bottom: 6px;
}

.lj__content {
  width: 100%;
  box-sizing: border-box;
  display: inline-block;
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-size: 15px;
  line-height: 22px;

  @media (max-width: 480px - 1px) {
    padding: 0 30px 0 30px;
  }

  @media (min-width: 480px) {
    padding: 0 58px 0 58px;
  }

  b {
    font-weight: 500;
  }

  img {
    display: block;

    @media (max-width: 480px - 1px) {
      margin: 10px 0 10px -30px;
      width: calc(100% + 30px + 30px);
    }

    @media (min-width: 480px) and (max-width: 768px - 1px) {
      margin: 10px 0 10px -58px;
      width: calc(100% + 58px + 58px);
    }

    @media (min-width: 768px) {
      margin: 20px 0 20px -58px;
      width: calc(100% + 58px + 58px);
    }
  }

  lj-cut {
    img {
      display: block;

      @media (max-width: 480px - 1px) {
        margin: 10px 0 10px -30px;
        width: calc(100% + 30px + 30px);
      }

      @media (min-width: 480px) and (max-width: 768px - 1px) {
        margin: 10px 0 10px -58px;
        width: calc(100% + 58px + 58px);
      }

      @media (min-width: 768px) {
        margin: 20px 0 20px -58px;
        width: calc(100% + 58px + 58px);
      }
    }

    a img {
      max-width: none;
      width: auto;
      margin: 0;
      margin-right: 5px;
      display: inline-block;
    }
  }

  a {
    color: #135ba7;
    background-image: linear-gradient(to right, #b5d9ff 0%, #b5d9ff 100%);
    background-repeat: repeat-x;
    background-position: 0 95%;
    background-size: 100% 1px;
    text-decoration: none;
  }

  table tr td,
  blockquote {
    @media (max-width: 768px - 1px) {
      margin: 0;
    }

    img {
      max-width: 100%;
      margin: 10px 0;
    }
  }

  a,
  lj-like {
    img {
      max-width: none;
      width: auto;
      margin: 0;
      margin-right: 5px;
      display: inline-block;
    }
  }
}

// Day theme
.day-theme {
  .content__window {
    background: $content-bg-day;
  }


}

// Night theme
.night-theme {
  .content__window {
    background: $content-bg-night;
  }

  .lj__content {
    color: $content-text-night;
    a {
      color: #b5d9ff;
      background-image: linear-gradient(to right, #b5d9ff 0%, #b5d9ff 100%);
      background-repeat: repeat-x;
      background-position: 0 95%;
      background-size: 100% 1px;
      text-decoration: none;
    }

    blockquote {
      color: #333333;
    }
  }
}
