.content__window
  .article_close(@click="toggleContent()")
  .scrollable__area(
    class='vb'
    v-bar='{}'
  )
    div(id='js-content-window')
      .article__header
        .pubdate.pubdate_article {{ formatedDate }}
        .title.title_lead {{ article.title }}
          v-hot-label(v-if='isNew' text='Новый')
      .lj__content(v-html="article.content")
      .article__footer
        .post__tags_list
          .geomark(style="vertical-align: middle; margin-right: 10px;" @click="() => { filterByLocation(articleCity); }") {{ articleCity }}
          v-tag(
            :key='index'
            v-for='(tag, index) in article.tags'
            :text='tag'
            size='middle'
          )
        .article__actions
          a.button(target="_blank", :href="`${article.url}#comments`") Комментировать в ЖЖ
          button.button(@click="toggleModalError()") Сообщить об ошибке
          v-sharing(:data="article")
