.heading {

  .heading__image {
    width: 100%;
    height: 140px;
    position: relative;
  }

  .heading__info {
    padding: 18px 20px 24px 20px;
  }
}

.tag__added {
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 30px;
  background: #d6ecfb url('./check.svg') no-repeat center center;
  text-decoration: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
