.heading
  .heading__image(:style="`background-image: url('http://vadmin.atwinta.ru/${category.image}')`")
    v-tag(
      :text='fullText'
      size='big'
      :style='{ left: "20px", bottom: "14px", position: "absolute", cursor: "pointer" }'
      :isRounded='!isInTagList'
      @click.native='addTagToList()'
    )
      .tag__added(v-if='isInTagList')
  .heading__info
    .description {{ category.description }}
