$label-primary-bg-color: #438ad3;
$tale-primary-color: #135ba7;

$label-primay-text-color: #fff;

.hot__label {
  display: inline-block;
  background: $label-primary-bg-color;
  color: $label-primay-text-color;
  text-transform: lowercase;
  padding: 5px 7px 7px 7px;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  letter-spacing: .8;
  position: absolute;
  pointer-events: none;
  font-family: 'ProximaNova';
  font-weight: 700;

  &:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 11px 11px 0 0;
    border-color: $tale-primary-color transparent transparent transparent;
  }

  .content__window & {
    margin-left: 10px;
    position: relative;
    vertical-align: top;

    @media (max-width: 768px - 1px) {
      position: relative;
      vertical-align: middle;

      &:after {
        content: none;
      }
    }
  }
}
