$nav-bg-day: #dcedfd;
$nav-text-day: #135ba7;

$nav-bg-night: #333333;
$nav-text-night: #b5d9ff;

.navigation__item {
  width: 60px;
  height: 60px;
  position: relative;

  a {
    display: inline-block;
    outline: none;

    &.router-link-exact-active {
      .icon {
        background: #EA3D3D;
      }

      &:hover {
        cursor: default;
      }
    }

    &:hover:not(.router-link-exact-active) {
      & + .title__badge {
        display: inline-block;
      }
    }
  }

  .title__badge {
    position: absolute;
    height: 60px;
    top: 0;
    left: 100%;
    display: none;
    font-family: 'ProximaNova';
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    z-index: 10;
    padding: 20px 20px 20px 0;
    box-sizing: border-box;
    white-space: nowrap
  }
}

// Day theme
.day-theme {
  .navigation__item {
    a {
      &:hover:not(.router-link-exact-active) {
        background: $nav-bg-day;
      }
    }

    .title__badge {
      background: $nav-bg-day;
      color: $nav-text-day;
    }
  }
}

// Night theme
.night-theme {
  .navigation__item {
    a {
      &:hover:not(.router-link-exact-active) {
        background: $nav-bg-night;
      }
    }

    .title__badge {
      background: $nav-bg-night;
      color: $nav-text-night;
    }
  }
}

