.navigation
  .navigation__item(
    v-for='(route, index) in routes'
    :key='index'
    @click='openSidebarIfNeed'
  )
    router-link(:to='route.path')
      .icon(:class='route.name')
    .title__badge {{ route.title }}
