$zoom-bg-day: #ffffff;
$zoom-color-day: #5592a8;
$zoom-shadow-day: rgba(122, 181, 201, 0.46);

$zoom-bg-night: #333333;
$zoom-color-night: #ffffff;
$zoom-shadow-night: rgba(182, 182, 182, 0.36);

.gzoom {
  position: absolute;
  right: 10px;

  @media (max-width: 1023px) {
    bottom: 20px;
  }

  @media (min-width: 1024px) {
    top: 50%;
    transform: translateY(-50%);
  }
}

.gzoom__control {
  cursor:pointer;
  position: relative;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  user-select: none;
  transition: 0.5s;

  &:first-child {
    margin-bottom: 10px;
  }

  span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    transition: 0.5s;

    &.plus {
      &:after,
      &:before {
        content: '';
        position: absolute;
        display: block;
        width: 15px;
        height: 2px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.5s;
      }

      &:before {
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }

    &.minus {
      &:after {
        content: '';
        position: absolute;
        display: block;
        width: 15px;
        height: 2px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.5s;
      }
    }
  }
}

.day-theme {
  .gzoom__control {
    box-shadow: 0 0 0 5px $zoom-shadow-day;
    background: $zoom-bg-day;

    span {
      &:after,
      &:before {
        background-color: $zoom-color-day;
      }
    }
  }
}

.night-theme {
  .gzoom__control {
    box-shadow: 0 0 0 5px $zoom-shadow-night;
    background: $zoom-bg-night;

    span {
      &:after,
      &:before {
        background-color: $zoom-color-night;
      }
    }
  }
}