@mixin fontdef($path, $name, $version, $type:"Regular") {
  src:  url('#{$path}/#{$type}/#{$name}-#{$type}.eot?v=#{$version}');
  src:  url('#{$path}/#{$type}/#{$name}-#{$type}.eot?#iefix&v=#{$version}') format('embedded-opentype'),
        url('#{$path}/#{$type}/#{$name}-#{$type}.woff2?v=#{$version}') format('woff2'),
        url('#{$path}/#{$type}/#{$name}-#{$type}.woff?v=#{$version}') format('woff'),
        url('#{$path}/#{$type}/#{$name}-#{$type}.ttf?v=#{$version}') format('truetype')
}

@mixin multiline-underline($width, $color) {
    background-image: linear-gradient(to right, $color 0%, $color 100%);
    background-repeat: repeat-x;
    background-position: 0 95%;
    background-size: 100% $width;
}
