.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to  {
  opacity: 0
}

.playList__preloader_container {
  width: 100%;
  height: 60px;
  z-index: 100;
  padding: 25px;
}

@keyframes playPreloaderHalf {
  100% { background-position: -7500px; }
}

.playList__preloader {
  width: 125px;
  height: 110px;
  background: url('preloader-half.png') left center;
  animation: playPreloaderHalf 1s steps(60) infinite;
  margin: 0 auto;
}

.playList__empty {
  text-align: center;
  font-size: 14px;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: translateY(-10px) }
  20% { -webkit-transform: translateY(-20px) }
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
  } 20% {
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
  }
}

.day-theme {
  .playList__preloader_container {
    background: white;
  }

  .playList__empty {
    color: #666666;
  }
}

.night-theme {
  .playList__preloader_container {
    background: #333333;
  }

  .playList__empty {
    color: #999999;
  }
}
