.scrollable__area(
  ref='scrollbar'
  class='vb'
  v-bar='{}'
)
  .playList(id='js-playList')
    //- .playList__empty(v-if='isEmptyArticles') Ничего не найдено
    //- v-post(
    //-   v-for='(article, index) in loadedArticles'
    //-   :key='index'
    //-   :data='article'
    //- )
    .post
      .post__image
        v-videoEvent
        v-videoTime
        v-videoEmotions(:emotions="['joy', 'pride', 'fear', 'fun']")
      .post__infoVideo
        .post__info Username • 1.5M views • 15 hours ago
        .post__title.title_sm SpaceX will try a triple booster landing with Falcon Heavy launch
        .post__description US President Donald Trump and Russian President
          | Vladimir Putin hold important one-on-one meeting at Finnish Presidential Palace in Helsinki, Finland.
        .post__author Via Vittorio Veneto, 150, 00187 Roma RM, Italy
    .post
      .post__image
      .post__infoVideo
        .post__info Username • 1.5M views • 15 hours ago
        .post__title.title_sm SpaceX will try a triple booster landing with Falcon Heavy launch
        .post__description US President Donald Trump and Russian President
          | Vladimir Putin hold important one-on-one meeting at Finnish Presidential Palace in Helsinki, Finland.
        .post__author Via Vittorio Veneto, 150, 00187 Roma RM, Italy
    .post
      .post__image
      .post__infoVideo
        .post__info Username • 1.5M views • 15 hours ago
        .post__title.title_sm SpaceX will try a triple booster landing with Falcon Heavy launch
        .post__description US President Donald Trump and Russian President
          | Vladimir Putin hold important one-on-one meeting at Finnish Presidential Palace in Helsinki, Finland.
        .post__author Via Vittorio Veneto, 150, 00187 Roma RM, Italy
    .post
      .post__image
      .post__infoVideo
        .post__info Username • 1.5M views • 15 hours ago
        .post__title.title_sm SpaceX will try a triple booster landing with Falcon Heavy launch
        .post__description US President Donald Trump and Russian President
          | Vladimir Putin hold important one-on-one meeting at Finnish Presidential Palace in Helsinki, Finland.
        .post__author Via Vittorio Veneto, 150, 00187 Roma RM, Italy
    .post
      .post__image
      .post__infoVideo
        .post__info Username • 1.5M views • 15 hours ago
        .post__title.title_sm SpaceX will try a triple booster landing with Falcon Heavy launch
        .post__description US President Donald Trump and Russian President
          | Vladimir Putin hold important one-on-one meeting at Finnish Presidential Palace in Helsinki, Finland.
        .post__author Via Vittorio Veneto, 150, 00187 Roma RM, Italy
    .post
      .post__image
      .post__infoVideo
        .post__info Username • 1.5M views • 15 hours ago
        .post__title.title_sm SpaceX will try a triple booster landing with Falcon Heavy launch
        .post__description US President Donald Trump and Russian President
          | Vladimir Putin hold important one-on-one meeting at Finnish Presidential Palace in Helsinki, Finland.
        .post__author Via Vittorio Veneto, 150, 00187 Roma RM, Italy
    .post
      .post__image
      .post__infoVideo
        .post__info Username • 1.5M views • 15 hours ago
        .post__title.title_sm SpaceX will try a triple booster landing with Falcon Heavy launch
        .post__description US President Donald Trump and Russian President
          | Vladimir Putin hold important one-on-one meeting at Finnish Presidential Palace in Helsinki, Finland.
        .post__author Via Vittorio Veneto, 150, 00187 Roma RM, Italy
    .post
      .post__image
      .post__infoVideo
        .post__info Username • 1.5M views • 15 hours ago
        .post__title.title_sm SpaceX will try a triple booster landing with Falcon Heavy launch
        .post__description US President Donald Trump and Russian President
          | Vladimir Putin hold important one-on-one meeting at Finnish Presidential Palace in Helsinki, Finland.
        .post__author Via Vittorio Veneto, 150, 00187 Roma RM, Italy
    .post
      .post__image
      .post__infoVideo
        .post__info Username • 1.5M views • 15 hours ago
        .post__title.title_sm SpaceX will try a triple booster landing with Falcon Heavy launch
        .post__description US President Donald Trump and Russian President
          | Vladimir Putin hold important one-on-one meeting at Finnish Presidential Palace in Helsinki, Finland.
        .post__author Via Vittorio Veneto, 150, 00187 Roma RM, Italy

    .playList__preloader_container(v-show='isLoadingMore')
      .playList__preloader
