$close-bg-day: #edf5f8 url('./close_small.svg') no-repeat center center;
$close-bg-night: #44566a url('./close_small_dark.svg') no-repeat center center;

.button__remove_tag {
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 30px;
  text-decoration: none;
}

.day-theme {
  .button__remove_tag {
    background: $close-bg-day;
  }
}

.night-theme {
  .button__remove_tag {
    background: $close-bg-night;
  }
}
