div
  transition-group(name='fade' mode='out-in')
    v-tag(
      :key='index'
      v-for='(tag, index) in tags'
      :text='tag.name'
      size='big'
      :isRounded='false'
    )
      a.button__remove_tag(href="#" @click.prevent='removeTagFromList(index)')
